body {
    display: block !important;
}

#root {
    margin: 0 auto;
    background: white;
    min-height: 100vh;
    padding: 0;
    box-sizing: border-box;
}

/*.page-content {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 24px;    
}
    */